-c constraints.txt
click
bumpversion
flake8
tox
pytest
twine
flake8-json
-e git://github.com/ryan-rs/flake8-pytest-mark.git@41458005de4fb4cc1c4a803d9eca2fcfac9d55f2#egg=flake8-pytest-mark
ipython
six
pytest-mock
